<!DOCTYPE html>
<html lang="en" ng-app="toDoList">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body ng-controller="ctrl-1">
<header id="head">
    <section>
        <label>ToDoList</label>
        <input type="button" value="添加" class="input-b" ng-click="addClick();">
        <input type="text" id="txt" name="text" placeholder="请输入内容" class="input-t" ng-model="txt">
    </section>
</header>
<div id="content">
    <section class="doing" >
        <h2>正在进行</h2>
        <ul id="j_doing">
            <li ng-repeat="v in arrA | orderBy: '-id'" data-id="{{v.id}}" ng-click="changeCk(v.id)">
                <input type="checkbox" name="" ng-checked="{{v.ckbox}}">
                <p>{{v.txt}}</p>
                <a ng-click="deleteLine(v.id)">X</a>
            </li>
            <!--

            <li>
                <input type="checkbox" name="">
                <p>2222</p>
                <a>X</a>
            </li>
            <li>
                <input type="checkbox" name="">
                <p>3333</p>
                <a>X</a>
            </li>
            -->
        </ul>
    </section>
    <section class="finish" >
        <h2>已经完成</h2>
        <ul id="j_finish">
            <li ng-repeat="v in arrB | orderBy: '-id'" data-id="{{v.id}}" ng-click="changeCk(v.id)">
                <input type="checkbox" name="" ng-checked="{{v.ckbox}}">
                <p>{{v.txt}}</p>
                <a ng-click="deleteLine(v.id)">X</a>
            </li>
           <!-- <li>
                <input type="checkbox" name="">
                <p>1111</p>
                <a>X</a>
            </li>
            <li>
                <input type="checkbox" name="">
                <p>2222</p>
                <a>X</a>
            </li>
            <li>
                <input type="checkbox" name="">
                <p>3333</p>
                <a>X</a>
            </li>-->
        </ul>
    </section>
    <section>
        <span class="totoal">
            未完成:{{arrA.length}} / 完成:{{arrB.length}}
        </span>
        <button class="clearBtn" id="j_clearAll" ng-click="delAll()">清除所有记录</button>
    </section>
</div>
<script src="./js/angular.js"></script>
<script src="./js/index.js"></script>
</body>
</html>