<!DOCTYPE html>
<html lang="en" ng-app="app-1">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div ng-controller="ctrl-1">
    <span>{{text}}</span>
    <input type="button" value="show" ng-click="click_show()">
    <input type="button" value="show_canshu" ng-click="click_cs('aaaaaaaaaaaa')">
</div>
<script src="../js/angular.js"></script>
<script>
    var myApp = angular.module('app-1', []);
    myApp.controller('ctrl-1', [
            '$scope',
        function ($scope) {
            $scope.text = 'hellow';
            $scope.click_show = function () {
                $scope.text = 'dianji xianshi';
            };

            $scope.click_cs = function (val) {
                $scope.text = val;
            }
        }
    ])
</script>
</body>
</html>